@font-face {
    font-family: pizzafont;
    src: url(../OrderPizza-97J2.ttf);
}
body{
    background-color:#121414;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./bg.avif);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;

   
}
h1{
    text-align: center;
    color: white;
    font-family: pizzafont;
    -webkit-text-stroke: black 2px solid;
}
.shoppingCart{
    background-color: #c6ad9f;
    text-align: center;
    border: 1px solid black;
    padding: 1em;
    /* margin: 1em; */
    margin-left: 23em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    width: 500px;
    align-items: center;
}

.pizza{    
    border: 1px solid black;
    /* padding: 0.5; */
    margin: 1em;
    width: 13em;
    /* margin-bottom: 0.5em; */
    border-radius: 0.5em;
    text-align: center;
    background-color:#606e6b;
    display: inline-block;
    justify-content: center;
   


}
.small{
    background-color:#e9c46a;
    flex:1;

}
.medium{
    background-color:#f4a261;
    flex:1;
}
   
.large{
    background-color: #e76f51;
    flex:1;
}
.contact-info{
    background-color: #2a9d8f;
    
   
}
.successmessage{
    border: 1px solid;
    margin: 0 auto;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #4F8A10;
    background-color: #DFF2BF;
    /* background-image: url('../css/resetGreen.png'); */
    width: fit-content;
    /* display: none; */

}
.failuremessage{
    border: 1px solid;
    margin: 0 auto;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-color: #ff9b85;
    background-image: url('../css/error.jpg');
    width: fit-content;
    color: #c1121f;
}
.button {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid #6ebe82;
    background-color: #072e16;
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
  }
  
  .button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #34974d;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 30px;
    stroke: #fff;
  }
  
  .button:hover {
    background: #34974d;
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button:active .button__icon {
    background-color: #2e8644;
  }
  
  .button:active {
    border: 1px solid #2e8644;
  }
  table{
    /* border: 1px solid;
    border-collapse: collapse; */
    margin: auto;
    width: auto;
    height: auto;
    
  }
  td {
    border-top: rgb(28, 22, 22) 2px solid;
    width: 20%;
  

  }
  .operation{
    /* width: 10px; */
    text-align: center;
    font-size: large;
    /* font-weight: bold; */
  }
  .pay{
    align-items: right;
    background-color:  #2e8644;
    /* border-radius: 50%; */
    width: 120px;
    height: 30px;
  }
  .login{
    width: 382px;
    overflow: hidden;
    margin: auto;
    margin: 20 0 0 450px;
    padding: 80px;
    /* background: #23463f; */
    border-radius: 15px ;
    font-weight: bold;
 outline-color: coral;
    outline-width: thick;
  }
  .login button{
    background-color: grey;
    /* float: right; */
    width: 100px;
    height: 30px;
  }

@media(min-width:960px){
    .pizzas{
        display: flex;
    }
    
} 