@font-face {
    font-family: pizzafont;
    src: url(../OrderPizza-97J2.ttf);
}
body{
    background-color:#121414;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./bg.avif);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;

   
}
h1{
    text-align: center;
    color: white;
    font-family: pizzafont;
}
.shoppingCart{
    background-color: #8f5331;
    text-align: center;
    border: 1px solid black;
    padding: 1em;
    margin: 1em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
}

.pizza{    
    border: 1px solid black;
    /* padding: 0.5; */
    margin: 1em;
    width: 13em;
    /* margin-bottom: 0.5em; */
    border-radius: 0.5em;
    text-align: center;
    background-color:#606e6b;
    display: inline-block;
    justify-content: center;
   


}
.small{
    background-color:#e9c46a;
    flex:1;

}
.medium{
    background-color:#f4a261;
    flex:1;
}
   
.large{
    background-color: #e76f51;
    flex:1;
}
.contact-info{
    background-color: #2a9d8f;
    
   
}
@media(min-width:960px){
    .pizzas{
        display: flex;
    }
    
} 